<table style="width: 100%;margin-top:65px;">
    <tbody>
      <tr>
          <td>
            <div class="form-group">
              <label for="customerOrder">Müşteri Sipariş No</label>
              <input required type="text" #orderno class="form-control txtCustomerOrderNo" id="customerOrder" placeholder="Müşteri Sipariş No" maxlength="10">
            </div>
            <div class="row">
              <div class="col-md-6">
                  <label for="inputAddress1">Çıkış Adresi</label>
                  <input type="text" #address1 class="form-control txtSenderAddress" id="inputAddress1" placeholder="Çıkış Adresi" maxlength="250">
              </div>
              <div class="col-md-6">
                  <label for="inputAddress2">Varış Adresi</label>
                  <input type="text" #address2 class="form-control txtDestinationAddress" id="inputAddress2" placeholder="Varış Adresi" maxlength="250">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <label for="inputQuantity">Miktar</label>
                  <input required type="number"  #quantity class="form-control txtQuantity" id="inputQuantity" placeholder="Miktar" maxlength="5" >
              </div>
              <div class="col-md-6">
                  <label for="inputQuantityUnit">Miktar Birim</label>
                  <select id="inputQuantityUnit" class="form-control quantityUnit" #quantityunit>
                      <option selected>Seçiniz</option>
                      <option>Adet</option>
                      <option>Koli</option>
                      <option>Paket</option>
                      <option>Palet</option>
                  </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <label for="inputWeight">Ağırlık</label>
                  <input type="number" #weight class="form-control txtWeight" id="inputWeight" placeholder="Ağırlık" ng-maxlength="5">
              </div>
              <div class="col-md-6">
                  <label for="inputWeightUnit">Ağırlık Birim</label>
                  <select id="inputWeightUnit" class="form-control weightUnit" #weightunit>
                      <option selected>Seçiniz</option>
                      <option>Kg</option>
                      <option>Ton</option>
                  </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <label for="materialCode">Malzeme Kodu</label>
                  <input type="text" #materialcode class="form-control txtMaterialCode" id="materialCode" placeholder="Malzeme Kodu" ng-maxlength="10">
              </div>
              <div class="col-md-6">
                  <label for="materialName">Malzeme Adı</label>
                  <input type="text" #materialname class="form-control txtMaterialName" id="materialName" placeholder="Malzeme Adı" ng-maxlength="50">
              </div>
            </div>
            <div class="form-group">
              <label for="not">Not</label>
              <input type="text" #not class="form-control txtNot" id="not" placeholder="Not" ng-maxlength="250">
            </div>
          </td>
      </tr>
  </table>
<br>
  <button class="btn btn-primary"  (click)="createOrder(orderno.value,
  address1.value,address2.value,quantity.value,quantityunit.value,weight.value,weightunit.value,materialname.value,materialcode.value,
  not.value)">Sipariş Ekle</button>

